.stats-card {

  background: #ffffff;

  border-radius: 20px;

  padding: 24px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  gap: 12px;

  min-height: 150px;

  box-shadow:
    0 8px 25px rgba(0,0,0,.06);

  transition: .25s ease;

}


.stats-card:hover {

  transform: translateY(-4px);

  box-shadow:
    0 12px 30px rgba(0,0,0,.10);

}



/* Ícone */

.stats-icon {

  width: 46px;

  height: 46px;

  border-radius: 14px;

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 22px;

}



/* Título */

.stats-card span {

  color: #6b7280;

  font-size: 14px;

}



/* Valor */

.stats-card h3 {

  margin: 0;

  font-size: 24px;

  font-weight: 700;

  color: #111827;

}



/* ENTRADAS */

.stats-card.income
.stats-icon {

  background: #dcfce7;

  color: #16a34a;

}


.stats-card.income h3 {

  color: #16a34a;

}



/* SAÍDAS */

.stats-card.expense
.stats-icon {

  background: #fee2e2;

  color: #dc2626;

}


.stats-card.expense h3 {

  color: #dc2626;

}



/* MOBILE */

@media(max-width:700px){

  .stats-card {

    min-height: 130px;

    padding: 20px;

  }


  .stats-card h3 {

    font-size: 21px;

  }


}