.modal-overlay{

    position:fixed;
    inset:0;

    background:rgba(0,0,0,.45);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:99999;

    animation:fade .2s;

}

.modal{

    width:95%;
    max-width:420px;

    background:#fff;

    border-radius:20px;

    padding:30px;

    animation:scale .25s;

    text-align:center;

}

.modal-icon{

    font-size:60px;
    color:#003399;

    margin-bottom:15px;

}

.modal h2{

    margin-bottom:10px;

}

.modal p{

    color:#666;
    margin-bottom:30px;

}

.modal-buttons{

    display:flex;
    gap:15px;

}

.modal-buttons button{

    flex:1;

    border:none;

    border-radius:12px;

    padding:14px;

    cursor:pointer;

    color:#fff;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;

    font-weight:600;

}

.cancel{

    background:#dc2626;

}

.confirm{

    background:#003399;

}

@keyframes fade{

    from{

        opacity:0;

    }

    to{

        opacity:1;

    }

}

@keyframes scale{

    from{

        transform:scale(.9);

        opacity:0;

    }

    to{

        transform:scale(1);

        opacity:1;

    }

}

@media(max-width:768px){

    .modal{

        padding:22px;

    }

    .modal-buttons{

        flex-direction:column;

    }

}