.loading-button{

    width:100%;
    height:54px;

    border:none;
    border-radius:14px;

    background:#003399;
    color:#fff;

    font-size:15px;
    font-weight:600;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;

    cursor:pointer;
    transition:.25s;

}

.loading-button:hover{

    background:#002d80;

}

.loading-button:disabled{

    opacity:.7;
    cursor:not-allowed;

}

.spinner{

    width:18px;
    height:18px;

    border-radius:50%;

    border:2px solid rgba(255,255,255,.3);
    border-top:2px solid #fff;

    animation:spin .7s linear infinite;

}

@keyframes spin{

    to{

        transform:rotate(360deg);

    }

}