.stepper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.stepper-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 90px;
}

.stepper-circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #e5e7eb;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    transition: .25s;
    border: 2px solid transparent;
}

.stepper-circle.active {
    background: #003399;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0,51,153,.25);
}

.stepper-circle.completed {
    background: #16a34a;
    color: white;
}

.stepper-title {
    margin-top: 10px;
    font-size: .78rem;
    color: #888;
    text-align: center;
    font-weight: 500;
    transition: .25s;
}

.stepper-title.active {
    color: #003399;
    font-weight: 700;
}

.stepper-line {
    flex: 1;
    height: 3px;
    background: #ddd;
    margin: 0 10px;
    margin-top: -25px;
    border-radius: 20px;
    transition: .25s;
    min-width: 30px;
}

.stepper-line.completed {
    background: #16a34a;
}

@media(max-width:900px){

    .stepper{
        gap:15px;
        justify-content:flex-start;
        overflow-x:auto;
        flex-wrap:nowrap;
        padding-bottom:10px;
    }

    .stepper::-webkit-scrollbar{
        height:6px;
    }

    .stepper::-webkit-scrollbar-thumb{
        background:#ccc;
        border-radius:20px;
    }

    .stepper-item{
        min-width:90px;
        flex-shrink:0;
    }

    .stepper-line{
        min-width:40px;
    }

}